<!DOCTYPE html>

<html>
<head>
    <meta name="=viewport" content="width=device-width,initial scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                    <span class="icon-bar"></span>


                </button>
                <a href="#" class="navbar-brand">
                    <img src="#" />


                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar">

                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-home"></i>
                            الصفحه الرئيسيه
                        </a>


                    </li>


                    <li>
                        <a href="#">
                            <i class="glyphicon glyphicon-folder-open"></i>
                            اصناف العروض
                        </a>


                    </li>
                    <li>
                        <a href="#">
                            <i class=" 	glyphicon glyphicon-info-sign"></i>
                            حول الموقع
                        </a>


                    </li>
                    <li>
                        <a href="#">
                            <i class="	glyphicon glyphicon-envelope"></i>
                            اتصل بنا
                        </a>


                    </li>
                </ul>
               



            <!--partial login-->
                @Html.Partial("_Login")


            </div>

        </div>
    </nav>
    
    <div class=" container">
        <div class="row">

            @RenderBody()
        </div>

    </div>

  
    <!--Footer-->
<footer class="navbar navbar-fixed-bottom myfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>
                    <i class="glyphicon glyphicon-question-sign"></i>
                    من نحن؟
                </h3>
                <p>
                    مهمتنا اسعادكم وتلبيه امانيكم مهما كانت بعيده فقط عليكم 
                    الطلب وعلينا التلبيه  
                </p>
            </div>
            <div class="col-md-4">
                <h3>
                    <i class="glyphicon glyphicon-globe"></i>
                    روابط هامة
                </h3>
                <ul>
                    <li><a href="#">صفحتنا على فيس بوك</a></li>
                       <li> <a href="#">تابعنا على تويتر</a></li>
                       <li> <a href="#">شاهدنا على يوتيوب</a></li>
                       <li> <a href="#">اترك لنا رسالة</a></li>

                </ul>
            </div>
            <div class="col-md-4">
                <h3>
                    <i class=" glyphicon glyphicon-envelope"></i>
                    تواصل معنا
                </h3>
                <ul>
                    <li>
                        <a href="#">وظائف للقطاع العام</a>
                        <a href="#">وظائف للقطاع الخاص</a>
                        <a href="#">وظائف خارج البلاد</a>
                        <a href="#">وظائف متنوعة</a>



                    </li>
                   
                        
                  
                </ul>
            </div>
        </div>


    </div>
    <div class="subfooter">
        <p>جميع الحقوق محفوظة لموقع tradeko</p>
    </div>



</footer>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
